@model Parcial1.ViewModels.UsuarioViewModels; 


@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Quieres elimiar el Usuario?</h4>
    <hr />    

 <table class="table table-striped">
  <thead class = "table-danger">
    <tr>
        <th class="text-center" scope="col">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg>         
        </th>
        <th class="text-center" scope="col">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-center" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>           
        </th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].Usuarioo)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].Usuarioo)
        </td>
    </tr>
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].Contraseña)
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].Contraseña)
        </td>
    </tr>
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].Nombre)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].Nombre)
        </td>
    </tr>
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].Apellido)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].Apellido)
        </td>
    </tr>    
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].fechanacimiento)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].fechanacimiento)
        </td>
    </tr>
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].genero)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].genero)
        </td>
    </tr>
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].documento)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].documento)
        </td>
    </tr>
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].domicilio)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].domicilio)
        </td>
    </tr>
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].nacionalidad)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].nacionalidad)
        </td>
    </tr>    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].domicilio)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].domicilio)
        </td>
    </tr>
    <tr>
        <td class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].telefono)
        </td>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].telefono)
        </td>
    </tr>
    </tbody>
</table> 
<div>
<div class="text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Usuarios[0].ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" Eliminar/> 
        <a asp-action="Index"class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>



