@model Parcial1.ViewModels.UsuarioViewModels; 



@{
    ViewData["Title"] = "Details";
}



<br>
<div>
    <h4 class="text-center"> Detalle del Usuario</h4>
                                      
<hr>
<table class="table table-striped">
  <thead class = "table-info">
    <tr>
        <th class="text-center" scope="col">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg>         
        </th>
        <th class="text-center" scope="col">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-center" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>           
        </th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].Usuarioo)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].Usuarioo)
        </td>
    </tr>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].Contraseña)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].Contraseña)
        </td>
    </tr>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].Nombre)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].Nombre)
        </td>
    </tr>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].Apellido)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].Apellido)
        </td>
    </tr>    
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].fechanacimiento)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].fechanacimiento)
        </td>
    </tr>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].genero)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].genero)
        </td>
    </tr>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].documento)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].documento)
        </td>
    </tr>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].nacionalidad)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].nacionalidad)
        </td>
    </tr>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].domicilio)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].domicilio)
        </td>
    </tr>    
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].telefono)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].telefono)
        </td>
    </tr>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios[0].terminos)
        </th>
        <td class="text-center">
            @Html.DisplayFor(model => model.Usuarios[0].terminos)
        </td>
    </tr>

  </tbody>
</table>

<br>

<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model?.Usuarios[0].ID" class="btn btn-success" role="button" aria-pressed="true">Editar</a>
    <a asp-action="Index" class="btn btn-secondary" role="button" aria-pressed="true">Volver a la Lista</a>
</div>

